
ol, ul {
  padding-left: 30px;
}

.board {
  width: 700px;
	height: 700px;
	margin: 0 auto;
  background-color: #345e4a;
  color: #fff;
  border: 5px solid #2c5037;
  border-radius: 15px;
	display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  font-size: 2em;
}

.status {
  text-align: center;
  display: block;
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
}

.square {
  border: 6px solid #39502c;
  border-radius: 15px;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:infocus {
  outline: none;
}

.game {
  display: center;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}