@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

.board {
  width: 60vmin;
	height: 60vmin;
	margin: 0 auto;
  background-color: #345e4a;
  color: #fff;
  border: 0.5vmin solid #2c5037;
  border-radius: 1.5vmin;
	display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  font-size: 2vmin;
}

.status {
  text-align: center;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 3vmin;
  font-family: 'Gloria Hallelujah', cursive;
}

.square {
  border: 0.6vmin solid #39502c;
  border-radius: 1.5vmin;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  font-size: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:infocus {
  outline: none;
}

.game {
  display: center;
  flex-direction: row;
}

.game-info {
  margin-left: 20vmin;
}